<!-- <div ng-if="displayMenu == true">
	<div>
		<button ng-click="hideMenu()">Nouvelle partie</button>
		<button>Voir les scores</button>
	</div>
</div>
 -->
<div class="row" id="gameBody">

	<div id="displayScore">
	</div>

	<div id="map" ng-if="displayMenu != true">
	</div>

	<div class="displayInfo masked">
		
		<div id="timerContainer">
			<div id="timer">
				<p>{{timerDisplay}}</p>
			</div>
			<div class="preloader-wrapper big active">
			   <div class="spinner-layer spinner-red-only">
			      <div class="circle-clipper left">
			        <div class="circle"></div>
			      </div>
			      <div class="gap-patch">
			        <div class="circle"></div>
			      </div>
			      <div class="circle-clipper right">
			        <div class="circle"></div>
			      </div>
			    </div>
			</div>
		</div>
		
		
		<div class="row">
	        <div class="col s12 m12">
	          <div class="card">
	            <div class="card-image">
	              <img ng-src="{{photoInfo.url}}" alt="Image de {{photoInfo.description}}" id='img'>
	            </div>
	            <div class="card-content">
	              <h4 id='title'></h4>
	            </div>
	          </div>
	        </div>
	      </div>



		<div>
			<ul class="collection z-depth-1">
				<li class="collection-item"><h5>Score : <span id='score'></span></h5></li>
			</ul>
			<!-- <p>Score : <span id='score'></span></p> -->
			<!-- <h4 id='title'></h4>
			<img ng-src="{{photoInfo.url}}" alt="Image de {{photoInfo.description}}" id='img'> -->
		</div>
	</div>

	<div id="start" ng-if="start == true">
		    <div>
		      <div>
		      	<div>
		         	<input type="text" placeholder="Pseudo" ng-model="pseudo" id="pseudo">
		       	</div>

		        <div>
		         	<button ng-click="launchGame()">
						Nouvelle partie
					</button>
		       	</div>

		       	<div>
				    <button ng-click="getScore()">
						Voir les scores
					</button>
		       	</div>
		      </div>
		    </div>	
	</div>

	<div id="next">
		<div class="load">
			<div>
				<div>
		         	<h3 id="scoreImg"></h3>
		       	</div>
			    <div>
			        <button ng-click="nextImg()" id='imgNxt'>
						Chargement...
					</button>
			    </div>
			 </div>
		</div>
		
	</div>
	
</div>


