<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Gestion photo</title>
	<link type="text/css" rel="stylesheet" href="../../ressources/style/materialize.min.css"  media="screen,projection"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="top-nav">
			<div class="container">
				<div class="nav-wrapper">
					<a class="page-title">{{toto}}</a>
				</div>
			</div>
		</nav>
	</header>

	<div class="collection">
		<div class="center">
			<i class="large material-icons">warning</i>
			<p>Vous n'êtes pas identifié, merci de vous authentifier.</p>
			
			<a href="authentif">Formulaire d'authentification</a>
		</div>
	</div>


	<footer class="page-footer">
		<div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Groupe BeeFy</h5>
                <p class="grey-text text-lighten-4">Photo-Locate | Page Administrateur.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015/2016 Photo-Locate | BeeFy
            <a class="grey-text text-lighten-4 right" href="../admin"> Page d'accueil </a>
            </div>
          </div>
	</footer>
</body>
</html>