<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Gestion photo</title>
	<link type="text/css" rel="stylesheet" href="../../ressources/style/materialize.min.css"  media="screen,projection"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="top-nav">
			<div class="container">
				<div class="nav-wrapper col s8">
					<a class="page-title ">{{toto}}</a>
				</div>
			</div>
		</nav>
	</header>

	<div class="container center-align">
		<form method="POST" action='addPhoto' enctype="multipart/form-data">
			
			<div class="file-field input-field">
			    <div class="btn">
				    <span>Image</span>
			        <input type="file" name="url">
			    </div>
			    <div class="file-path-wrapper">
		        	<input class="file-path validate" type="text">
			    </div>
		    </div>

			<div>
		        <div class="input-field">
		          <input type="text" name="latitude">
		          <label for="text">Latitude</label>
		        </div>
	      	</div>

			<div>
		        <div class="input-field">
		          <input type="text" name="longitude">
		          <label for="text">Longitude</label>
		        </div>
	      	</div>

			<div class="input-field col s12">
	          <textarea id="textarea1" class="materialize-textarea" name="description"></textarea>
	          <label for="textarea1">Textarea</label>
	        </div>
			
			<div class="input-field col s12">
				<select name="serie" class="browser-default">
					<option value="" disabled selected>Choisissez la ville</option>
						{% for ville in villes %}
							<option value="{{ville.id}}">{{ville.ville}}</option>
						{% endfor %}
				</select>
			</div>
			
			<div class="input-field col s12">
				<button type="submit" name="envoyer" value="Uploader" class="btn"> Enregistrer </button>
			</div>
		</form>
	</div>

	<div class="left-align">
		<form method="POST" action="../admin" enctype="multipart/form-data">
			<button type="submit" name="envoyer" value="Retour" class="btn">Deconnexion</button>
		</form>
	</div>

	<footer class="page-footer">
		<div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Groupe BeeFy</h5>
                <p class="grey-text text-lighten-4">Photo-Locate | Page Administrateur.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015/2016 Photo-Locate | BeeFy
            <a class="grey-text text-lighten-4 right" href="../admin"> Page d'accueil </a>
            </div>
          </div>
	</footer>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../ressources/js/materialize.min.js"></script>
</body>
</html>