<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Créer une série</title>
	<link type="text/css" rel="stylesheet" href="../../ressources/style/materialize.min.css"  media="screen,projection"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<header>
		<nav class="top-nav">
			<div class="container">
				<div class="nav-wrapper">
					<a class="page-title">{{toto}}</a>
				</div>
			</div>
		</nav>
	</header>

	<div class="container center-align">
		<form method="POST" action='addSerie' enctype="multipart/form-data">
			{# <input type="file" name="url">
			<br> #}

			<div>
		        <div class="input-field">
		          <input type="text" name="ville">
		          <label for="text">Ville</label>
		        </div>
	      	</div>

			<div>
		        <div class="input-field">
		          <input type="text" name="latitude">
		          <label for="text">Latitude</label>
		        </div>
	      	</div>

			<div>
		        <div class="input-field">
		          <input type="text" name="longitude">
		          <label for="text">Longitude</label>
		        </div>
	      	</div>

			<div>
		        <div class="input-field">
		          <input type="text" name="zoom">
		          <label for="text">Zoom</label>
		        </div>
	      	</div>
		
			<div class="input-field col s12">
				<button type="submit" name="envoyer" value="Uploader" class="btn"> Enregistrer </button>
			</div>
		</form>
	</div>
	
	<div class="left-align">
		<form method="POST" action="../admin" enctype="multipart/form-data">
		<button type="submit" name="envoyer" value="Retour" class="btn">Deconnexion</button>
		</form>
	</div>


	<footer class="page-footer">
		<div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Groupe BeeFy</h5>
                <p class="grey-text text-lighten-4">Photo-Locate | Page Administrateur.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015/2016 Photo-Locate | BeeFy
            <a class="grey-text text-lighten-4 right" href="../admin"> Page d'accueil </a>
            </div>
          </div>
	</footer>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../ressources/js/materialize.min.js"></script>
</body>
</html>