/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "materialize";

header {
	margin-top: -32px;
	background: #5c6bc0;
	@extend .z-depth-1;

	> h1 {
		@extend .center-align;
		font-weight: 100;
		padding: 1% 0 1% 0;
		color: #EEEEEE;
	}
}

#displayScore {
	position: absolute;
	z-index: 99999999999;
}

.leaflet-bottom {
	display: none;
}

.scoreTotal {
	width: 100%;
	@extend .center-align;
	color: #EEEEEE;
}

.btnCustom {
	@extend .btn;
	@extend .orange;
	@extend .valign;
	@extend .waves-light;
	@extend .left;
	@extend .col;
	@extend .s3;
	margin: auto;
	margin-bottom: 10px;
}

.masked {
	display: none;
}

#timerContainer {
	position: absolute;
	z-index: 1000000;
	margin-top: 15px;
	margin-left: 10px;
	border-radius: 50%;
	height: 64px;
	background: #FFFFFF;
	> #timer {
		position: absolute;
		margin-top: 10px;
		margin-left: 14px;
		font-size: 2em;
		> p {
			font-weight: 100;
			text-align: center;
		}
	}
}

.display {
	@extend .container;
	> game > .row {
		> div#map {
			height: 410px;
			margin-top: 8px;
			@extend .col;
			@extend .s7;
		}
		> .displayInfo {
			@extend .col;
			@extend .s5;
			> div > h4 {
				@extend .center-align;
			}
			> div > img {
				height: 200px;
				width: 100%;
			}
			> button {
				@extend .btn;
				@extend .col;
				@extend .offset-s2;
				margin-top: 5px;
			}
		}
		div#start {
			position: absolute;
			height: 440px;
			width: 72%;
			background: rgba(#212121, 0.9);
			@extend .valign-wrapper;
			> div {
				@extend .col;
				@extend .s12;
				> div {
					@extend .row;
					> div {
						@extend .col;
						@extend .s12;
						@extend .valign-wrapper;
						> button {
							@extend .btn;
							@extend .orange;
							@extend .valign;
							@extend .waves-light;
							// @extend .left;
							@extend .col;
							@extend .s3;
							margin: auto;
							margin-bottom: 10px;
						}
						> input {
							@extend .col;
							@extend .s3;
							@extend .valign;
							margin: auto;
							margin-bottom: 10px;
							color: #FFFFFF;
						}
					}
				}
			}
		}
		div#next {
			position: absolute;
			height: 440px;
			width: 72%;
			background: rgba(#212121, 0.9);
			@extend .valign-wrapper;
			> div {
				@extend .col;
				@extend .s12;
				> div {
					@extend .row;
					> div {
						@extend .col;
						@extend .s12;
						@extend .valign-wrapper;
						> button {
							@extend .btn;
							@extend .orange;
							@extend .valign;
							@extend .waves-light;
							@extend .left;
							@extend .col;
							@extend .s3;
							margin: auto;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}
}